*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: #f9f9f9;
}
/*Overlay*/
.overlay {   
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden;
  transition: 0.5s; 
}

.overlay-content {
  position: relative;
  top: 25%;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; 
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {color: #f1f1f1;}

/* Posição do botão de fechar */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*Centraliza a Logo*/
.centered-logo {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

/*Hermits*/
.HermitGallery {
    position: relative;
    z-index: 2;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    transition: all 0.5s ease-in-out;
    transform: translateZ(0); 
}

.hermitFace{
    width: 150px;
    border-radius: 4%;
    border: 2.8px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
    background-color: white;
}

.hermitFace:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*Hermit InPage*/
.hermitSideA img{
  top: 35%;
  width: 250px;
  position: fixed;
}

.hermitSideB img{
  top: 35%;
  right: 2%;
  width: 250px;
  position: fixed;
}

/*Vídeos*/
.gallery {
    margin: auto;
    width: 65%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    transition: all 0.5s ease-in-out;
    transform: translateZ(0);
  }
  .gallery figure {
    margin: 3px;
    margin-right: -20px;
    margin-left: 5px;
    flex-basis: 26%;
    overflow: hidden;
    cursor: pointer;
  }
  .gallery figure img {
    width: 85%;
    border: 2px solid #404040;
    border-radius: 3px;
  }