body {  background-color: #f9f9f9;}

nav {
  display: flex;
  margin: 15px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.ArrowButton{ border: 0.5px solid #ffffff; font-weight: bold; width: 50px;}
.ArrowButton:hover{ background-color: lightgray; }

/*Hermits*/
.HermitGallery {
  position: relative;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  transition: all 0.5s ease-in-out;
  transform: translateZ(0);
}

.hermitFace {
  width: 125px;
  border-radius: 4%;
  border: 2.8px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
  background-color: white;
}

.hermitFace:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*Hermit InPage*/
.hermitSideA img {
  top: 35%;
  width: 250px;
  position: fixed;
}

.hermitSideB img {
  top: 35%;
  right: 2%;
  width: 250px;
  position: fixed;
}

/*Vídeos*/
.gallery {
  margin: auto;
  width: 65%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  transition: all 0.5s ease-in-out;
  transform: translateZ(0);
}

.gallery figure {
  margin: 3px;
  margin-right: -20px;
  margin-left: 5px;
  flex-basis: 26%;
  overflow: hidden;
  cursor: pointer;
}

.gallery figure img {
  width: 85%;
  border: 2px solid #404040;
  border-radius: 3px;
}

.gallery img:hover {  border: 2px solid #c5c1c1; }